<script src="{{{uiRootPath}}}/js/site.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/tabs-block-behaviour.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/swagger-ui.js"></script>
<script async src="{{{uiRootPath}}}/js/vendor/component-versions.js"></script>
<script src="{{uiRootPath}}/js/vendor/custom.js"></script>

<script>
    const { algoliasearch } = window;
    const { autocomplete, getAlgoliaResults, getAlgoliaFacets} = window["@algolia/autocomplete-js"]
    const { createQuerySuggestionsPlugin } = window['@algolia/autocomplete-plugin-query-suggestions'];


    const appId = "VHYJO45TI4";
    const apiKey = "9d5f273e78238a8c505526e481c857f7";
    const searchClient = algoliasearch(appId, apiKey);

    autocomplete({
      container: "#autocomplete",
      placeholder: "Search",
      openOnFocus: true,
      getSources({ query, state }) {
        if (!query) {
          return [];
        }

        return [
          {
            sourceId: "docs",
            getItems() {
              return getAlgoliaResults({
                searchClient,
                queries: [
                  {
                    indexName: "starknet-docs-dev",
                    query,
                    params: {
                      attributesToSnippet: ["title:10", "content:10"],
                      snippetEllipsisText: "…",
                      {{!-- attributesToRetrieve: [
                        'name',
                      ] --}}
                    }
                  }
                ]
              });
            },
            templates: {
              header({html}) {
                return (
                  html`<div>
                    <span class="aa-SourceHeaderTitle">Docs</span>
                    <div class="aa-SourceHeaderLine" />
                  </div>
                  `
                );
              },
              item({ item: hit, components, html, ...rest }) {
                console.log({hit, components, rest})
                console.log({hit})
                return (html`
                    <a href=${hit.url} target="_blank">
                      <div class="hit-name">
                        ${components.Highlight({ attribute: 'title', hit })}
                      </div>
                      <div class="hit-description">
                        ${components.Highlight({ attribute: 'content', hit })}
                      </div>
                    </a>
                  `)
              },
              noResults() {
                return "No docs for this query.";
              }
            }
          }
        ];
      }
    });
</script>